@using Newtonsoft.Json
@using TowerDefense.Business
@model TowerDefense.Business.Models.Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Tower Defense Game @Model.Name</title>
    <link rel="import" href="~/app/includes.html">
</head>
<body>
    <script>
        (function() {
            var rawModel = @Html.Raw(Model.RawJson);

            if (rawModel.error) {
                //document.querySelector('#toast0').open();
            } else {
                window.towerDefense = window.towerDefense || {};
                window.towerDefense.game = towerDefense.mapToJsObject(rawModel);    
            }
        })();

    </script>

    @*<p>The website is currently not available for testing purposes.</p>*@
    <game-page id="gamepage" gamename="@Model.Name"></game-page>
    version @Model.Version
</body>
</html>