@using TowerDefense.Business
@model TowerDefense.Business.Models.Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Tower Defense Game @Model.Name</title>
    <link rel="import" href="~/app/includes.html">
</head>
<body>
    <script>
        (function() {
            var rawModel = @Html.Raw(Json.Encode(Model));

            window.towerDefense = window.towerDefense || {};
            window.towerDefense.game = towerDefense.mapToJsObject(rawModel);
        })();

    </script>
    <game-page gamename="@Model.Name"></game-page>
</body>
</html>