@using TowerDefense.Business
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Tower Defense Game @Model</title>
    <link rel="import" href="~/app/includes.html">
</head>
<body>
    <game-page gamename="@Model"></game-page>
    <div>
        All Players:
        @foreach (var player in GameManager.Games.Single(game => game.Name == @Model).Players)
        {
            <div>@player.Name</div>
        }
    </div>
</body>
</html>