@using TowerDefense.Business
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Tower Defense Game @Model</title>
    <link rel="import" href="~/app/includes.html">
</head>
<body>
    <game-page gamename="@Model"></game-page>

    @foreach(GameManager)
</body>
</html>