@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Tower Defense</title>
    <link rel="import" href="~/app/includes.html">
</head>
<body>
    <main-page>
        @foreach (var game in Model)
        {
            <a href="../Game/@Html.Raw(game.Name)">@game.Name</a><br />
        }
    </main-page>
</body>
</html>